/* Estilizando login.php */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#register-form input {
    display: block;
}

#login-form {
    padding: .8rem;
}

#login-form #email, #password {
    border-bottom: 1px solid #fff;
    color: #fff;
}

#login-form #message {
    font-weight: 700;
    color: rgb(234, 71, 71);
}

.footer_login {
    position: absolute;
    bottom: 1px;
}

@media(max-width: 1068px) {
    .footer_login {
        position: static;
        bottom: 1px;
    }
}

@media(max-width: 575px) {
    main .logo_img_login {
        position: relative;
        top: 27px;
    }
}

/* Estilizando register.php */

#main_register {
    display: flex;
    justify-content: center;
    align-items: center;
}


#_register {
    width: 50%;
}

#register-form label {
    font-size: large;
}

.text_register {
    border-radius: 8px;
    padding: .2rem;
}

/* Estilizando profile.php */

#profile_content #imagem img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

#profile_data {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#profile_data * {
    font-size: large;
}

#profile_data p {
    border: 1px solid #fff;
    border-radius: 8px;
    padding: .6rem;
}

#profile_data p:hover {
    padding: .8rem;
    cursor: default;
    font-size: 1.3rem;
}